body {
    background-color: #f8f9fa; /* Add your desired body background color */
}

.container.text-center {
    background-color: black; /* Set the background color to black */
    width: 100vw; /* Use 100vw for 100% viewport width */
    padding-left: 0; /* Remove default padding */
    padding-right: 0; /* Remove default padding */
}

#servcices, #barber, #appointment{
    margin-top: 60px;
}


.test {
    display: absolute;
}



section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.card {
    width: 200px;
    height:400px;
    
}
.card-img-top{
    height:50%;
}
#services .btn.btn-primary,
 #barbers .btn.btn-primary{
    position: absolute;
    bottom:20px;
}
